@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-test-color2: #ff0000;
}

@layer base {
  :root {
    --color-primary: oklch(84.649% 0.22712 130.426); /* Default (light) theme */
    --color-bg: #fff;
    --color-text: #222;
  }

  .theme-dark {
    --color-primary: oklch(
      46.856% 0.30296 271.609
    ); /* Use a different value for dark */
    --color-bg: #18181b;
    --color-text: #fff;
  }

  .bg-primary {
    background-color: var(--color-primary) !important;
  }
  .text-primary {
    color: var(--color-primary);
  }
  .bg-app {
    background-color: var(--color-bg);
  }
  .text-app {
    color: var(--color-text);
  }

  .theme-mint {
    --color-primary: oklch(72% 0.11 178);
    --color-bg: #e0fff4;
    --color-text: #0a3d31;
  }
}
html,
body {
  margin: 0;
  padding-top: 40px; /* Adjust this value to match the height of your header */
  padding-right: 10px;
  padding-left: 10px;
}

.fixed-header {
  position: fixed; /* Fix the header to the top */
  top: 0; /* Align it to the top of the viewport */
  left: 0; /* Align it to the left */
  width: 100%; /* Make it span the full width */
  z-index: 1000; /* Ensure it stays above other elements */
  background-color: #c5d4f7; /* Match the header's background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}
