@import "tailwindcss";

html,
body {
  margin: 0;
  padding-top: 40px; /* Adjust this value to match the height of your header */
  padding-right: 10px;
  padding-left: 10px;
}

.fixed-header {
  position: fixed; /* Fix the header to the top */
  top: 0; /* Align it to the top of the viewport */
  left: 0; /* Align it to the left */
  width: 100%; /* Make it span the full width */
  z-index: 1000; /* Ensure it stays above other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}
