:root {
  --background: #ffffff;
  --text: #000000;
  --primary: #eeeeee;
  --accent: #8888ff;
  --highlight: #ff8888;
  --shadow: #cccccc;
  --black: #000000;
  --white: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--text);
}

/* Grimdark Steel */
.theme-grimdark {
  --background: #121212;
  --primary: #1f1f1f;
  --accent: #d3af37;
  --text: #e0e0e0;
  --highlight: #b02e26;
  --shadow: #0b0b0b;
}

/* Galactic Neon */
.theme-galactic {
  --background: #0a0f1b;
  --primary: #1b263b;
  --accent: #ff4081;
  --text: #e0e0e0;
  --highlight: #36f1cd;
  --shadow: #050709;
}

/* Mystic Scroll */
.theme-mystic {
  --background: #f6f1e9;
  --primary: #ded0b6;
  --accent: #006d77;
  --text: #1a1a1a;
  --highlight: #83c5be;
  --shadow: #a58f68;
}

/* Pocket Adventure */
.theme-pocket {
  --background: #f0f8ff;
  --primary: #c2e7da;
  --accent: #ffcc00;
  --text: #2e2e2e;
  --highlight: #ff5e5b;
  --shadow: #6ca0dc;
}

/* Cinema Noir */
.theme-noir {
  --background: #1a1a1a;
  --primary: #2c2c2c;
  --accent: #ff3c38;
  --text: #f5f5f5;
  --highlight: #505050;
  --shadow: #0e0e0e;
}

/* Override default styles for themes. Maybe there's a better way to do this, but it's enough for now. */
.p-menuitem-text {
  color: var(--text);
}

.p-menuitem-content {
  &:hover {
    background-color: var(--primary);
  }
  &:active {
    background-color: var(--highlight);
  }
}

.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  color: var(--text);
  background: var(--primary);
}
